<%= form_for(@watanprogram, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @watanprogram.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@watanprogram.errors.count, "error") %> prohibited this watanprogram from being saved:</h4>

      <ul>
      <% @watanprogram.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>



    <div class="field">
      <label class="col-sm-2 control-label">Body Section 1:</label>
      <div class="col-sm-10">
        <%= f.text_area :body, :id => "programbody" %>
      </div>
    </div>



    <div class="field">
      <label class="col-sm-2 control-label">Body Section 2:</label>
      <div class="col-sm-10">
        <%= f.text_area :body2, :id => "programbody2" %>
      </div>
    </div>


    <div class="field">
      <label class="col-sm-2 control-label">Body Section 3:</label>
      <div class="col-sm-10">
        <%= f.text_area :body3, :id => "programbody3" %>
      </div>
    </div>



  <div class="form-group">
    <%= f.label :programcode, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :programcode, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>




<script>



    $(function() {
        $('#programbody, #programbody2, #programbody3, #locations').froalaEditor({
            toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', '|', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', 'insertHR', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'undo', 'redo', 'clearFormatting', 'selectAll', 'html'],
            heightMin: 100,
            heightMax: 600
        })
    });


</script>