<div class="page-header">
  <%= link_to new_watanprogram_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Watanprogram
  <% end %>
  <h1>Listing watanprograms</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Body</th>
            <th>Programcode</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @watanprograms) do |watanprogram| %>
            <td><%= watanprogram.name %></td>
            <td><%= watanprogram.body %></td>
            <td><%= watanprogram.programcode %></td>
            <td><%= link_to 'Show', watanprogram %></td>
        <td><%= link_to 'Edit', edit_watanprogram_path(watanprogram) %></td>
        <td><%= link_to 'Destroy', watanprogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
