<div class="page-header">
  <%= link_to new_websitecontact_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Websitecontact
  <% end %>
  <h1>Listing websitecontacts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Recorded</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @websitecontacts) do |websitecontact| %>
            <td><%= websitecontact.name %></td>
            <td><%= websitecontact.email %></td>
            <td><%= websitecontact.subject %></td>
            <td><%= websitecontact.message %></td>
            <td><%= websitecontact.recorded %></td>
            <td><%= link_to 'Show', websitecontact %></td>
        <td><%= link_to 'Edit', edit_websitecontact_path(websitecontact) %></td>
        <td><%= link_to 'Destroy', websitecontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
