<div class="page-header">
  <%= link_to websitecontacts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_websitecontact_path(@websitecontact), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show websitecontact</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @websitecontact.name %></dd>

  <dt>Email:</dt>
  <dd><%= @websitecontact.email %></dd>

  <dt>Subject:</dt>
  <dd><%= @websitecontact.subject %></dd>

  <dt>Message:</dt>
  <dd><%= @websitecontact.message %></dd>

  <dt>Recorded:</dt>
  <dd><%= @websitecontact.recorded %></dd>

</dl>
