<div class="page-header">
  <%= link_to new_post_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>
  <h1>Listing posts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Published at</th>
            <th>Post type</th>
            <th>On homepage</th>
            <th>Event location</th>
            <th>Event link</th>
            <th>Is event</th>
            <th>Event date</th>
            <th>Event time</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @posts) do |post| %>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= post.published_at %></td>
            <td><%= post.post_type %></td>
            <td><%= post.on_homepage %></td>
            <td><%= post.event_location %></td>
            <td><%= post.event_link %></td>
            <td><%= post.is_event %></td>
            <td><%= post.event_date %></td>
            <td><%= post.event_time %></td>
            <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
